<nav [class.isScroll]="isScroll">
    <div class="nav-logo">
        <span class="logo"></span>
        <span class="logo-dot1"></span>
        <span class="logo-dot2"></span>
        <span class="logo-dot3"></span>
    </div>
    <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#pictures">pictures</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <button class="hamburger" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <div class="mobile-menu" [class.open]="menuOpen">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#pictures">pictures</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>