<section id="skills">
    <div class="skills-i">
        <div class="skills-h">
            <span class="section-l">Expertise</span>
            <h2 class="section-t">Skills &amp;<em>Technologies</em></h2>
            <div class="gold-l"></div>
            <p class="skills-i">A curated set of tools and technologies</p>
        </div>

        <div class="skills-g">
            @for( el of skillsElements;track  el.icon){
                <div class="skill-g"> 
                    <div class="group-h">
                    <span class="group-i">{{el.icon}}</span>
                    <h3 >{{el.category}}</h3>
                </div>
                <div class="skill-b">
                    @for(skill of el.skills ; track skill.name){
                        <div class="skill-b-i">
                            <div class="skill-m">
                                <span class="skill-n">{{skill.name}}</span>
                                <span class="skill-p">{{skill.level}}%</span>
                            </div>
                            <div class="bar-t">
                                <div class="bar-f" [style.width.%]="skill.level"></div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
            }
        </div>

        <div class="tools-s">
            <!-- <span class="section-l">Tools</span> -->
            @for(t of tools;track t){
                <div class="tools-c" >
                <span class="tool-t">{{t}}</span>
            </div>
            }
            
        </div>
    </div>
</section>